@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@font-face {
    font-family: Lain;
    src: url(lain.ttf);
}

:root {
    --wh-list-li-margin-top: 0 !important;
}

.title__content {
    font-family: "JetBrains Mono";
}

.article__p {
}

.wh-header__product-name {
    font-family: lain, sans-serif;
}

:root {
    --rs-color-black: rgb(30, 30, 46);
    --wh-color-backlight-pale-dark: rgb(30, 30, 46);
    --rs-color-grey-90: #000000;
    --rs-color-grey-95: rgb(24, 24, 36);
}

.article__h1 {
    padding-top: 0;
    margin-top: 0;
}

.toc-item--level-0 {
    font-weight: bold;
}

.table__th {
    font-weight: bold;
}

figure {
    max-width: var(--wh-max-width-l);
}

.article__img:not(a > .article__img) {
    display: block;
    margin: 0 auto;
}

.list li {
    margin-top: 8px !important;
}

.article .h3-related:not(:empty) {
    margin-top: 8px !important;
}

.article .h2-related:not(.sub-title) {
    margin-top: 16px !important;
}